<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <configSections>
      <section name="PolicyEvaluatorMappings"
         type="System.Configuration.DictionarySectionHandler"/> 
      </configSections>
   <PolicyEvaluatorMappings>
      <add key="http://psl.cs.columbia.edu/discus2/All" value="PSL.TotalRecall.PolicyManager.AllEvaluator"/>
      <add key="http://psl.cs.columbia.edu/discus2/RequiresParticipants" value="PSL.TotalRecall.PolicyManager.RequiresParticipantsEvaluator"/>
      <add key="http://psl.cs.columbia.edu/discus2/RequiresTopic" 
		value="PSL.TotalRecall.PolicyManager.RequiresTopicEvaluator"/>
      <add key="http://psl.cs.columbia.edu/discus2/Some"
		 value="PSL.TotalRecall.PolicyManager.SomeEvaluator"/>
	  <add key="http://psl.cs.columbia.edu/discus2/PolicyReference"
		 value="PSL.TotalRecall.PolicyManager.PolicyReferenceEvaluator"/>
      
   </PolicyEvaluatorMappings>
</configuration>